
    $primary: #007336c2;
    $secundary: rgb(210, 210, 210);

section{
    width: 90%;
    margin: 30px auto;
    padding-bottom: 20px;
    background-color: white;
    .title_section{
        border-bottom: 1px solid rgb(210, 210, 210);
        display: block;
        padding: 17px 12px;
        margin-bottom: 20px;
    }
    form{
        width: 70%;
        margin: 10px auto;
        padding: 10px;
        text-align: center;
        .area_info{
            resize: none;
            padding: 5px;
            width: 400px;
            height: 100px;
        }
        input{
            width: 50%;
            height: 30px;
            text-align: center;
        }
        label{
            color: rgb(174, 10, 10);
            font-size: 18px;
            padding: 2px 10px;
            display: block;
            width: 100%;
        }
    }
    .add_button{
        display: block;
        background-color: $primary;
        color: #fff;
        border: none;
        padding: 11px;
        font-size: 14px;
        margin: auto;
        cursor: pointer;
    }
    .add_button:hover{
        background-color: #005528c2;
    }


    .act_added{
        background-color: $secundary;
        width: 96%;
        margin: 20px auto;
        font-size: 17px;
        display: grid;
        grid-template-columns:1fr 20% 20%;
        div{
            line-height: 30px;
            border: 1px solid white;
            padding-left: 10px;
        }
        .title_colum{
            font-weight: bold;
            padding-left: 10px;
        }
        .text-short{
            padding: 10px;
        }
        .info_class{
            resize: none;
            background-color: transparent;
            border: 1px solid white;
            padding: 5px 10px;
            color: black;
            font-size: 15px;
        }
    }
}



